@import '../../styles/base/variables.scss';

footer {
  min-height: 10vh;
  background-color: $black-color-secondary;
  color: $white-color-secondary;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.8rem;
  }
}
