@use '../../styles/base/variables.scss';
@use '../../styles/base/mixins.scss';

.projects {
  min-height: 100vh;
  background-color: variables.$black-color-secondary;
  color: variables.$white-color-secondary;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.responsive-mobile {
    font-size: 2.4rem;
  }

  .projects-content {
    max-width: 120rem;
    width: 80%;
    margin: 90px 0 70px 0;

    @include mixins.responsive-mobile {
      margin: 100px 0 40px 0;
      text-align: center;
    }

    p {
      font-size: 6.6rem;
    }

    .cards {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}
