@import '../../styles/base/variables.scss';
@import '../../styles/base/mixins.scss';

.contact {
  min-height: 100vh;
  background-color: $black-color-primary;
  color: $white-color-secondary;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3.6rem;

  @include responsive-mobile {
    font-size: 2.4rem;
    text-align: center;
  }

  .contact-content {
    max-width: 120rem;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;

    @include responsive-mobile {
      margin-top: 80px;
    }
  }
}
