@import '../../styles/base/variables.scss';

.card {
  max-width: 340px;
  width: 100%;
  height: 520px;
  background-color: $black-color-primary;
  border: 2px solid #2f3b52;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;

  &:hover {
    border: 2px solid $purple-color-primary;
  }

  .card-image {
    width: 100%;
    height: 180px;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    width: 100%;
    padding: 0 40px;

    .card-title {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }

    .card-description {
      font-size: 1.6rem;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .card-techs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
    flex-wrap: wrap;
    gap: 10px;

    h2 {
      font-size: 1.8rem;
    }

    .card-techs-img {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: 38px;
      }
    }
  }

  .card-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    a {
      font-size: 1.6rem;
      color: $white-color-secondary;
      border-radius: 5px;
      padding: 7px 14px;
      border: 1px solid $purple-color-primary;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;

      &:hover {
        background-color: $purple-color-primary;
      }

      svg {
        width: 20px;
        fill: $white-color-secondary;
        stroke: $white-color-secondary;
      }
    }
  }
}
