@use '../../styles/base/variables.scss';
@use '../../styles/base/mixins.scss';

@mixin links-styles {
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  // background-color: variables.$black-color-primary;
  border-bottom: 1px solid variables.$purple-color-primary;
  position: fixed;

  @include mixins.responsive-mobile {
    justify-content: flex-end;
  }

  .navbar {
    height: 100%;
    width: 90%;
    color: variables.$white-color-secondary;
    // backdrop-filter: blur(8px);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;

    @include mixins.responsive-mobile {
      min-height: 100vh;
      width: 100%;
      backdrop-filter: blur(10px);
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: variables.$z-index-medium;

      transform: translateX(100%);
      transition: transform 0.3s ease;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      list-style: none;

      @include mixins.responsive-mobile {
        flex-direction: column;
      }
    }

    a {
      font-size: 2rem;
      color: inherit;

      display: inline-block;
      position: relative;
      overflow: hidden;
      padding-bottom: 5px;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 0;
        background-color: variables.$purple-color-primary;
        transition: width 0.3s ease-in-out;
      }
      &:hover::before {
        width: 100%;
      }

      &:hover {
        color: variables.$purple-color-primary;
      }
    }

    .active-section {
      // border-bottom: 1px solid variables.$purple-color-primary;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 100%;
        background-color: variables.$purple-color-primary;
        transition: width 0.3s ease-in-out;
      }
    }
  }

  .language {
    font-size: 1.8rem;
    background-color: transparent;
    color: variables.$white-color-secondary;
    border: none;
    cursor: pointer;

    position: relative;
    top: -4px;

    &:hover {
      color: variables.$purple-color-primary;
    }

    option {
      // background-color: variables.$black-color-primary;
      border: none;

      &:hover {
        // background-color: variables.$black-color-primary;
        // color: variables.$purple-color-primary;
      }

      &::before {
        content: '';
        background-color: variables.$black-color-primary;
        color: variables.$purple-color-primary;
      }
    }
  }

  // * Mobile Menu

  .active-navbar {
    transform: translateX(0);
  }

  .btn-menu {
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: variables.$z-index-max;
    right: 10px;
    top: -4px;
  }
}

.active-blur {
  backdrop-filter: blur(8px);
}
