@use '../../styles/base/variables.scss';
@use '../../styles/base/mixins.scss';

.skills {
  min-height: 100vh;
  background-color: variables.$black-color-primary;
  color: variables.$white-color-secondary;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.responsive-mobile {
    font-size: 2.4rem;
  }

  .skills-content {
    max-width: 120rem;
    width: 80%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mixins.responsive-mobile {
      margin-top: 100px;
      margin-bottom: 20px;
      // justify-content: center;
      align-items: center;
    }

    p {
      font-size: 6.6rem;
    }

    h2 {
      font-size: 1.9rem;
      margin-left: 3rem;
      font-weight: 400;
    }
  }
}
